
#container{
    display: grid;
    grid-template-columns: 256px 3fr;
    grid-template-rows: 1fr 64px 5fr;
}
img{
    width: 2rem;
}
h4{
    font-weight: 700;
    font-size: 1.25rem;
}




/*SIDEBAR*/
#sidebar-container{

    grid-row: 1/6;
    grid-column: 1/2;
    min-height: 100vh;
}
#sidebar-contents{
    margin: 16px;
}
#sidebar-container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
}
#sidebar-container ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-top: 24px;
}
#sidebar-container li{
    margin-top: 8px;
}





/*HEADER*/
#header-container{

    grid-row: 1/2;
    grid-column: 2/3;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#searchbar img{
    width: 1.5rem;
    margin: 1rem;
}

#searchbar{
    grid-row: auto;
    grid-column: 1/5;
    display: flex;
    align-items: center;
}
#searchbar label{
    border:0;
}

#profile{
    grid-row: auto;
    grid-column: 5/7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
#profile img{
    height: 2rem;
    width: auto;

    font-size: larger;
}
#profile p{
    font-size: 1.25rem;

}


#social-buttons{
    grid-row: 2;
    grid-column: 4/7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
#social-buttons .button{
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#greeting{
    grid-row: 2;
    grid-column: 1/4;
    display: flex;
    align-items: center;
}
#greeting img{
    margin-right: 1rem;
    width: 3.5rem;
}





/*TITLE*/
#title-container{
    display: grid;
    grid-template-columns: 5fr minmax(256px, 2fr);
}
#content-title-two{
    grid-column: 2/3;
}
.content-title{
    align-self: end;
    font-size: 1.5rem;
    font-weight: bold;
}





/*CONTENT*/
#content-container{
    display: grid;
    grid-template-columns: 5fr minmax(256px, 2fr);
}

#article-container{
    padding: 32px;
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(128px, 1fr));
    gap: 32px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    border-left: 8px solid lightslategray;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

}
.card-btn{
    gap: 16px;
    display: flex;
    overflow: hidden;
    margin: 0px 0px 8px 16px;
}
.card-info{
    height: 70%;
    max-width: 80%;
    margin: 16px 0px 0px 16px;
    overflow: hidden;
} 
.card-info h4{
    margin-bottom: 6px;
}
#aside{
    display: grid;
    grid-template-rows: 1fr 64px 1fr ;
}

.aside{


}